<section id="home" class="hero">

  <div class="hero-content">

    <p class="greeting">
      {{ languageService.translation.home.greeting }}
    </p>

    <h1>
      Denisse Romero
    </h1>

    <h2>
      {{ languageService.translation.home.title }}
    </h2>

    <p class="description">
      {{ languageService.translation.home.description }}
    </p>

    <div class="hero-actions">

      <a href="#experience" class="primary-button">
        {{ languageService.translation.home.experiencesButton }}
      </a>

      <a href="#contact" class="secondary-button">
        {{ languageService.translation.home.contactButton }}
      </a>

    </div>

  </div>

</section>
